  <%= link_to image_tag('sneaker_logo.svg'), new_collection_path, class: 'collection_btn' %>
<div class="container-fluid">
  <div class="row">
    <% @collection.each do |collection| %>
      <% if collection.user_id == current_user.id %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card card-style mb-3" style="width: 18rem;">
            <a class="text-decoration-none" target="_blank" href="collections/new">
              <%= image_tag collection.image.url , class: 'card-img-top' %>
              <div class="card-body">
                <p class="card-text color sneaker-name">【<%= collection.name %>】<%= link_to '編集', edit_collection_path(collection)%></p>
                <p class="card-title color sneaker-explanation"><%= collection.explanation %></p>
              </div>
              <%= link_to '✖︎', collection , method: :delete, data: {confirm: '削除しますか？'}, class: 'collection_delete' %>
            </a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
