<% if user_signed_in? %>
  <h1 class="heading">マイページ</h1>
  <div class="container">
    <div class="row">
      <div class="col-7 mx-auto border rounded">
        <div class="profile">
          <%= image_tag current_user.image.url, class: 'profile-image border rounded-circle' %><br>
          <div class="user-details">
            <span class="user-name"><%= current_user.name %></span><%= link_to image_tag("gear.svg"), edit_user_registration_path, class: 'setting' %>
            <br>
          </div>
          <hr>
          <h3>自己紹介</h3>
          <p class="introduction"><%= current_user.introduction %></p>
          <br>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h1 class="heading">お気に入り一覧</h1>
  <br>
  <% @liked_posts.each do |likes| %>
    <div class="like-post">
      <div class="like-post-image">
        <%= image_tag likes.image.url, class: 'like-image' %>
      </div>
      <div class="like-user-details">
        <p class="user-profile-image like-name"><%= image_tag likes.user.image.url, class: 'post-user-image' %><%= likes.user.name %></p>
        <p><%= likes.content %></p>
        <%= link_to "詳細", post_path(likes) %>
        <% if current_user.id == likes.user_id %>
          <%= link_to "編集", edit_post_path(likes) %>
          <%= link_to "削除", post_path(likes), method: :delete, data: { confirm: "削除しますか?" } %>
        <% end %>
        <% if current_user.id != likes.liked_by?(current_user)  %>
          <td><% if likes.liked_by?(current_user) %>
              <%= link_to '★', post_post_likes_path(likes), method: :delete %>
            <% else %>
              <%= link_to '☆', post_post_likes_path(likes), method: :post %>
            <% end %></td>
          <td>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
    <%= paginate @liked_posts %>
  <% end %>
  <%= link_to '確認用のlike_lists画面へ', like_lists_path %>
