<% if user_signed_in? %>
  <div class="profile">
    <div>
      <%= image_tag current_user.image.url, class: 'profile-image' %><br>
    </div>
    <div class="user-details">
    <ul>
      <li class="user-name"><%= current_user.name %></li><br>
      <li class="setting-img"><%= link_to image_tag("setting.png"), edit_user_registration_path, class: 'setting' %></li><br>
      </ul>
      <%= current_user.introduction %><br>
    </div>
  </div>
  <br>
  <h2>お気に入り一覧</h2>
  <br>
  <% @liked_posts.each do |likes| %>
    <table style="border: 1px solid black ;">
      <td><%= image_tag likes.image.url %></td>
      <td><%= likes.content %></td>
      <td><%= likes.user.name %></td>
      <br>
    </table>
  <% end %>
  <%= paginate @liked_posts %>
<% end %>
