<% if user_signed_in? %>
  <div class="profile">
    <div>
      <%= image_tag current_user.image.url, class: 'profile-image' %><br>
    </div>
    <div class="user-details">
      <%= current_user.name %><br>
      <%= current_user.introduction %><br>
    </div>
  </div>
  <%= link_to 'アカウント編集画面へ', edit_user_registration_path %><br>
  <% @liked_posts.each do |likes| %>
    <table style="border: 1px solid black ;">
      <td><%= image_tag likes.image.url %></td>
      <td><%= likes.content %></td>
      <td><%= likes.user.name %></td>
      <br>
    </table>
  <% end %>
  <%= paginate @liked_posts %>
<% end %>
