<%# 後でBootstrapを使用した書き方に変更する %>
<h1>投稿一覧</h1>
<%= link_to image_tag('post_logo.svg'), new_post_path, class: 'post_btn' %>
<% @posts.each.with_index(1) do |post, i| %>
  <div class="like-post">
    <div class="like-post-image">
      <%= image_tag post.image.url, class: 'like-image' %>
    </div>
    <div class="like-user-details">
      <p class="user-profile-image like-name"><%= image_tag post.user.image.url, class: 'post-user-image' %><%= post.user.name %></p>
      <p><%= post.content %></p>
      <%= link_to "詳細", post %>
      <% if current_user.id == post.user_id %>
        <%= link_to "編集", edit_post_path(post) %>
        <%= link_to "削除", post, method: :delete, data: { confirm: "削除しますか?" } %>
      <% end %>
      <% if current_user.id != post.liked_by?(current_user)  %>
        <% if post.liked_by?(current_user) %>
          <%= link_to '★', post_post_likes_path(post), method: :delete %>
        <% else %>
          <%= link_to '☆', post_post_likes_path(post), method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
<% end %>
