<%# 後でBootstrapを使用した書き方に変更する %>
<h1>投稿一覧</h1>
<table>
  <thead>
    <tr>
      <td scope="col"><%= link_to "新規投稿", new_post_path %></td>
    </tr>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">タイトル</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each.with_index(1) do |post, i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= post.image %></td>
        <td><%= post.content %></td>
        <td><%= post.user.name %></td>
        <% if current_user.id != post.liked_by?(current_user)  %>
          <td><% if post.liked_by?(current_user) %>
              <%= link_to '★', post_post_likes_path(post), method: :delete %>
            <% else %>
              <%= link_to '☆', post_post_likes_path(post), method: :post %>
            <% end %></td>
          <td>
          <% end %>
          <%= link_to "詳細", post %>
          <% if current_user.id == post.user_id %>
            <%= link_to "編集", edit_post_path(post) %>
            <%= link_to "削除", post, method: :delete, data: { confirm: "削除しますか?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
