<%# 後でBootstrapを使用した書き方に変更する %>
<h1>詳細</h1>
<div style="border:1px solid black; padding: 20px;">
  <%= @post.image %>
  <%= @post.content %>
</div>
<div>
  <h1>コメント一覧</h1>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_field :content %>
    <br>
    <%= f.submit 'コメントする' %>
  <% end %>
  <%= @comments.content %>
  <%= link_to '一覧画面へ', posts_path %>
