<%# 後でBootstrapを使用した書き方に変更する %>
<h1>詳細</h1>
<div style="border:1px solid black; padding: 20px;">
  <%= image_tag @post.image.url %>
  <%= @post.content %>
</div>
<div>
  <h1>コメント一覧</h1>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_field :content %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <br>
    <%= f.submit 'コメントする' %>
  <% end %>
</div>
<div>
  <% @comments.each do |comment| %>
    <p class="user-profile-image like-name"><%= image_tag @post.user.image.url, class: 'post-user-image' %><%= @post.user.name %><%= comment.content %></p>
  <% end %>
</div>
<%= link_to '一覧画面へ', posts_path %>
