  <hr class="header-border">
<br>
<nav class="navbar navbar-expand-lg navbar-light" style="margin: 0px 200px 100px;">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav d-flex align-items-center">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to image_tag("logo.png"), tops_path, width: '30', height: '30', class: 'd-inline-block', alt: 'header-logo', style: ' margin-right: 200px;'%>
        </li>
        <li class="nav-item active">
          <li><%= link_to 'マイページ', user_path(:id), class: 'link' %></li>
        </li>
        <li class="nav-item">
          <li><%= link_to 'コレクション', collections_path, class: 'link' %></li>
        </li>
        <li class="nav-item">
          <li><%= link_to "タイムライン", posts_path, class: 'link' %></li>
        </li>
        <li class="nav-item">
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: 'link' %></li>
        </li>
        <li>
        <%= render 'layouts/humburger' %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to image_tag("logo.png"), tops_path, width: '30', height: '30', class: 'd-inline-block align-top', alt: 'header-logo'  %>
        </li>
        <li class="nav-item">
          <li><%= link_to "ログイン", new_user_session_path, class: 'link' %></li>
        </li>
        <li class="nav-item">
          <li><%= link_to "新規会員登録", new_user_registration_path, class: 'link' %></li>
        </li>
        <li>
        <%= render 'layouts/humburger' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
