  <br>
<% if user_signed_in? %>
  <div>
    <ul>
      <li><%= link_to 'マイページ', user_path(:id) %></li>
      <li><%= link_to 'コレクション', collections_path %></li>
      <li><%= link_to "タイムライン", posts_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %></li>
      <%# ↓ハンバーガーメニューで表示 %>
      <%# <%= link_to "アカウント編集", edit_user_registration_path %>
    </ul>
  </div>
<% else %>
  <div>
    <ul>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <li><%= link_to "新規会員登録", new_user_registration_path %></li>
    </ul>
  </div>
<% end %>
